.pageTitle {
	font-size: 100px;
}
.selectedTitle {
	margin: 10px 0px;
}
.items {
	display: flex;
	gap: 20px;
}
.item {
	height: 400px;
	width: 300px;
	border: 5px solid;
	border-radius: 5px;
	position: relative;
	background-size: cover !important;
}
.item:nth-child(1) {
	background: url('/illustration.png');
}
.item:nth-child(2) {
	background: url('/websites.jpg');
}
.item:nth-child(3) {
	background: url('/apps.jpg');
}
.imgTitle {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 40px;
	font-weight: bold;
}
.item:hover .imgTitle {
	color: #53c28b;
}
